<script th:fragment="js" th:inline="javascript" type="text/javascript">
	
$(document).ready(function(){
	console.log('READY!!');
	
	setPage();
	
	init_main_event();
	
});

function init_main_event() {
	console.log("init_main_event() CALLED!!");
	
	// 페이지 번호 클릭 시
	$(document).on('click', '#section_wrap > div.page_wrap > div.page_number a', function() {
		console.log('page_number CLICK HANDLER!!');
		
		let pageNum = $(this).data('pagenum');
		
		location.href = '/board/list?pageNum=' + pageNum;
		
		
	});
	
	// 페이지 번호 입력 시
	$(document).on('click', '#section_wrap > div.page_wrap > div.page_goto a.goto_page_btn', function() {
		console.log('page_goto BUTTON CLICK HANDLER!!');
		
		let targetPageNum = $('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').val();
		let totalPageNum = $('#section_wrap > div.page_wrap > div.page_goto span.page_total_num').text();
		
		if (targetPageNum == '' || targetPageNum == ' ' || targetPageNum == null) {
			alert('이동하고자 하는 페이지 숫자를 입력하세요!!');
			$('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').focus();
			return;
			
		} else if (parseInt(targetPageNum) < 1) {
			alert('1페이지 미만은 존재하지 않습니다!!');
			$('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').val('');
			$('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').focus();
			return;
			
		} else if (parseInt(targetPageNum) > parseInt(totalPageNum.replaceAll(',', ''))) {
			alert(totalPageNum + '을(를) 초과 할수 없습니다!!');
			$('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').val('');
			$('#section_wrap > div.page_wrap > div.page_goto input[name="page_target_num"]').focus();
			return;
			
		}
		
		location.href = '/board/list?pageNum=' + targetPageNum;
		
	});
}

function setPage() {
	console.log("setPage() CALLED!!");
	
	let pageMakerVo = [[${pageMakerVo}]];
	
	/* PAGE UI */
	$('#section_wrap > div.page_wrap > div.page_number').children().remove();
	
	// 이전 페이지
	if (pageMakerVo.prev) {
		$('#section_wrap > div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + (pageMakerVo.startPage - 1) + '">PRE</a>');
	}
	
	// 처음 페이지
	if (pageMakerVo.criteria.pageNum > 10) {
		$('#section_wrap > div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="1">1</a><span>...</span>');
	}
	
	// 페이지 넘버링
	for (let p = parseInt(pageMakerVo.startPage); p <= parseInt(pageMakerVo.endPage); p++) {
		$('#section_wrap > div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + p + '">' + p + '</a>');
	}
	// 페이지 하이라이트
	$('#section_wrap > div.page_wrap > div.page_number a[data-pagenum=' + pageMakerVo.criteria.pageNum + ']').addClass('selectedPageNum');
	
	// 다음 페이지
	if (pageMakerVo.next) {
		$('#section_wrap > div.page_wrap > div.page_number').append('<a href="#none" data-pagenum="' + (pageMakerVo.endPage + 1) + '">NEX</a>');
	}
	
	// 전체 페이지
	$('#section_wrap > div.page_wrap > div.page_goto > span.page_total_num').text(addComma(pageMakerVo.totalPage.toString()));
	
}

function addComma(value) {
	console.log('addComma CALLED!!');
	
	if (value == null)
		return null;
	
	return value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

</script>