<script th:fragment="js" th:inline="javascript" type="text/javascript">
	
// ------------- 현재 -----------------
var current_year;		// 현재_년도
var current_month;		// 현재_월
var current_date;		// 현재_일
var current_day;		// 현재_월

//--------------- 오늘 ----------------
var today = new Date();
var today_year = today.getFullYear();		// 오늘_년도
var today_month = today.getMonth();			// 오늘_월(0~11, 1월:0)
var today_date = today.getDate();			// 오늘_일
var today_day = today.getDay();				// 오늘_요일(0~6, 일요일:0)

$(document).ready(function() {
	console.log('READY!!');
	
	// 현재
	setCurrentCalender(today_year, today_month, today_date, today_day);
	
	// 현재(<select>)
	setCurrentYearAndMonthSelectUI();
	
	// 현재(<tr>) 추가
	addCalenderTr();
	
	// 현재 달에 일정 출력
	ajax_getCurrentMonthPlans();
	
	// 이벤트 핸들러 초기화(등록)
	init_events();
	
});

//현재
function setCurrentCalender(year, month, date, day) {
	console.log('setCurrentCalender() CALLED!!');
	
	current_year = year;
	current_month = month;
	current_date = date;
	current_day = day;
	
}

//현재(<select>)
function setCurrentYearAndMonthSelectUI() {
	console.log('setCurrentYearAndMonthSelectUI() CALLED!!');
	
	$('#section_wrap select[name="p_year"]').val(current_year).prop('selected', true);
	$('#section_wrap select[name="p_month"]').val(current_month + 1).prop('selected', true);
	
}

//현재(<tr>) 추가
function addCalenderTr() {
	console.log('addCalenderTr() CALLED!!');
	
	// -------- 현재 월 & 첫 날 -------
	let thisCalenderStart = 		new Date(current_year, current_month, 1);
	let thisCalenderStart_year = 	thisCalenderStart.getFullYear();			// 이번달_년
	let thisCalenderStart_month = 	thisCalenderStart.getMonth();				// 이번달_월(1월 0)
	let thisCalenderStart_date = 	thisCalenderStart.getDate();				// 이번달_첫 날
	let thisCalenderStart_day = 	thisCalenderStart.getDay();					// 이번달_첫 요일(일요일 0)
	
	// -------- 현재 월 & 마지막 날 -------
	let thisCalenderEnd = 			new Date(current_year, current_month + 1, 0);
	let thisCalenderEnd_year = 		thisCalenderEnd.getFullYear();				// 이번달_년
	let thisCalenderEnd_month = 	thisCalenderEnd.getMonth();					// 이번달_월(1월 0)
	let thisCalenderEnd_date = 		thisCalenderEnd.getDate();					// 이번달_마지막 날
	let thisCalenderEnd_day = 		thisCalenderEnd.getDay();					// 이번달_마지막 요일(일요일 0)
	
	// 달력 날짜 구성
	let dates = Array();
	let dateCnt = 1;
	for (let i = 0; i < 42; i++) {
		if (i < thisCalenderStart_day || dateCnt > thisCalenderEnd_date) {
			dates[i] = 0;
		} else {
			dates[i] = dateCnt;
			dateCnt++;
		}
	}
	
	let appendTag = '';
	let dateIndex = 0;
	for (let i = 0; i < 6; i++) {
		
		if (i >= 5 && dates[dateIndex] == 0) break;
		
		appendTag = "<tr>";
		for (let j = 0; j < 7; j++) {
			appendTag += "<td>";
			if (dates[dateIndex] != 0) {
				
				// 날짜 UI
				appendTag += '<div class="date">';
				appendTag += dates[dateIndex];
				appendTag += '</div>';
				
				// 일정 등록 버튼 UI
				appendTag += '<div>';
				appendTag += 	'<a class="write" href="#none">write</a>'
				appendTag += '</div>';
				
				// 일정 리스트 UI
				appendTag += '<div clss="plan_wrap" id="date_' + dates[dateIndex] +'">';
				appendTag += 	'<ul class="plan">';
				appendTag += 	'</ul>';
				appendTag += '</div>';
				
			}
			appendTag += "</td>";
			dateIndex++;
		}
		appendTag += "</tr>";
		$('#table_calender tbody').append(appendTag);
	}
	
}

function init_events() {
	console.log('init_events CALLED!!');
	
	$(document).on('click', '#section_wrap a.btn_pre', function(e) {
		console.log('btn_pre CLICK HANDLER!!');
		
		setPreMonth();
		
	});
	
	$(document).on('click', '#section_wrap a.btn_next', function(e) {
		console.log('btn_next CLICK HANDLER!!');
		
		setNextMonth();
		
	});
	
	$(document).on('change', '#section_wrap select[name="p_year"]', function(e) {
		console.log('p_year CHANGE HANDLER!!');
		
		setMonthBySelectChanged();
		
	});
	
	$(document).on('change', '#section_wrap select[name="p_month"]', function(e) {
		console.log('p_month CHANGE HANDLER!!');
		
		setMonthBySelectChanged();
		
	});
	
	$(document).on('click', '#section_wrap a.write', function(e) {
		console.log('write CLICK HANDLER!!');
		
		let year = current_year;
		let month = current_month + 1;
		let date = $(this).parent('div').siblings('div.date').text();
		
		showWritePlanView(year, month, date);
		
	});
	
	// 일정 등록 버튼 클릭
	$(document).on('click', '#calender_write input[value="일정등록"]', function(){
		console.log('write button CLICK HANDLER!!');
		
		let year = $('#calender_write select[name="wp_year"]').val();
		let month = $('#calender_write select[name="wp_month"]').val();
		let date = $('#calender_write select[name="wp_date"]').val();
		
		let title = $('#calender_write input[name="or_title"]').val();
		let body = $('#calender_write input[name="or_body"]').val();
		let file = $('#calender_write input[name="or_file"]').val();
		
		if (title == '') {
			alert('INPUT PLAN TITLE');
			$('#calender_write input[name="or_title"]').focus();
			
		} else if (body == '') {
			alert('INPUT PLAN BODY');
			$('#calender_write input[name="or_body"]').focus();
			
		} else if (file == '') {
			alert('SELECT IMAGE FILE');
			$('#calender_write input[name="or_file"]').focus();
			
		} else {
			
			let inputFile = $('#calender_write input[name="or_file"]');
			let files = inputFile[0].files;
			
			ajax_writeOrganize(year, month, date, title, body, files[0]);
			
		}
		
	});
	
	// 일정 초기화 버튼 클릭
	$(document).on('click', '#calender_write input[value="reset"]', function(){
		console.log('reset button CLICK HANDLER!!');
		
	});
	
	// 일정 등록 취소 버튼 클릭
	$(document).on('click', '#calender_write input[value="취소"]', function(){
		console.log('cancel button CLICK HANDLER!!');
		
		hideWritePlanView();
		
	});
	
	// 일정 등록 년도 변경 시
	$(document).on('change', '#calender_write select[name="wp_year"]', function() {
		console.log('wp_year select CHANGE HANDLER!!');
		
		let year = $(this).val();
		let month = $('#calender_write select[name="wp_month"]').val();
		
		setSelectDateOptions(year, month, 'wp_date');
		
	});
	
	// 일정 등록 월 변경 시
	$(document).on('change', '#calender_write select[name="wp_month"]', function() {
		console.log('wp_month select CHANGE HANDLER!!');
		
		let year = $('#calender_write select[name="wp_year"]').val();
		let month = $(this).val();
		
		setSelectDateOptions(year, month, 'wp_date');
		
	});
	
	// 디테일뷰 - 일정 하나 가져오기
	$(document).on('click', '#table_calender ul.plan li a', function() {
		console.log('ul.plan li CLICK HANDLER!!');
		
		ajax_getPlan(this.getAttribute('data-or_no'));
		
	});
	
	// 디테일뷰 - 수정 버튼 클릭 시
	$(document).on('click', '#calender_detail input[value="일정수정"]', function() {
		console.log('modify button CLICK HANDLER!!');
		
		let year = $('#calender_detail select[name="dp_year"]').val();
		let month = $('#calender_detail select[name="dp_month"]').val();
		let date = $('#calender_detail select[name="dp_date"]').val();
		
		let title = $('#calender_detail input[name="or_title"]').val();
		let body = $('#calender_detail input[name="or_body"]').val();
		
		if (title == '') {
			alert('INPUT PLAN TITLE');
			$('#calender_detail input[name="or_title"]').focus();
			
		} else if (body == '') {
			alert('INPUT PLAN BODY');
			$('#calender_detail input[name="or_body"]').focus();
			
		} else {
			
			let inputFile = $('#calender_detail input[name="or_file"]');
			let files = inputFile[0].files;
			
			ajax_modifyOrganize($(this).data('or_no'), year, month, date, title, body, files[0]);
			
		}
		
	});
	
	// 디테일뷰 - 삭제 버튼 클릭 시
	$(document).on('click', '#calender_detail input[value="일정삭제"]', function() {
		console.log('delete button CLICK HANDLER!!');
		
		ajax_removePlan($(this).data('or_no'));
		
	});
	
	// 디테일뷰 - 닫기 버튼 클릭 시
	$(document).on('click', '#calender_detail input[value="닫기"]', function() {
		console.log('close button CLICK HANDLER!!');
		
		hideDetailPlanView();
		
	});
	
	// 일정 수정 년도 변경 시
	$(document).on('change', '#calender_detail select[name="dp_year"]', function() {
		console.log('dp_year select CHANGE HANDLER!!');
		
		let year = $(this).val();
		let month = $('#calender_detail select[name="dp_month"]').val();
		
		setSelectDateOptions(year, month, 'dp_date');
		
	});
	
	// 일정 수정 월 변경 시
	$(document).on('change', '#calender_detail select[name="dp_month"]', function() {
		console.log('dp_month select CHANGE HANDLER!!');
		
		let year = $('#calender_detail select[name="dp_year"]').val();
		let month = $(this).val();
		
		setSelectDateOptions(year, month, 'dp_date');
		
	});
	
	// 공유 대상(친구) 검색
	$(document).on('keyup', '#calender_detail input[name="search_friend"]', function() {
		console.log('search_friend input KEYUP HANDLER!!');
		
		let word = $(this).val();
		if (word == '') {
			$('#calender_detail li.share_reply div:nth-child(3)').css('display', 'none');
			
		} else {
			$('#calender_detail li.share_reply div:nth-child(3)').css('display', 'block');
			
			ajax_search_friend(word);
			
		}
		
	});
	
	// 공유
	$(document).on('click', '#calender_detail li.share_reply div:nth-child(3) ul li a', function() {
		console.log('friend id CLICK HANDLER!!');
		
		let result = confirm('정말 ' + this.text + '님께 일정을 공유 하시겠습니까?');
		
		if (result) {
			ajax_share_plan($('#calender_detail input[name="or_no"]').val(), $(this).data('m_no'), this.text);
			$('#calender_detail li.share_reply div:nth-child(3)').css('display', 'none');
			$('#calender_detail input[name="search_friend"]').val('');
		}
		
	});
	
	// 댓글
	$(document).on('click', '#calender_detail li.share_reply div:nth-child(5) a', function() {
		console.log('comment CLICK HANDLER!!');
		
		let comment = $('#calender_detail input[name="comment"]').val();
		let or_ori_no = $('#calender_detail').data('organizerVo').or_ori_no;
		
		if (comment.trim() != '')
			ajax_regist_comment(or_ori_no, comment.trim());
		
	});
	
}

function setPreMonth() {
	console.log('setPreMonth() CALLED!!');
	
	if($('select[name="p_year"]').val() == 2022 && $('select[name="p_month"]').val() == 1) {
		alert("2022년 1월 이전은 설정할 수 없습니다.");
		return false;
	}
	
	let temp_year = current_year;
	let temp_month = current_month - 1;
	if (temp_month <= -1) {
		temp_year = temp_year - 1;
		temp_month = 11;
	}
	
	let preCalender = new Date(temp_year, temp_month, 1);
	
	setCurrentCalender(preCalender.getFullYear(),
					   preCalender.getMonth(),
					   preCalender.getDate(),
					   preCalender.getDay());
	
	setCurrentYearAndMonthSelectUI();
	removeCalenderTr();
	addCalenderTr();
	ajax_getCurrentMonthPlans();
}

function setNextMonth() {
	console.log('setNextMonth() CALLED!!');
	
	if($('select[name="p_year"]').val() == 2031 && $('select[name="p_month"]').val() == 12) {
		alert("2031년 12월 이후는 설정할 수 없습니다.");
		return false;
	}
	
	let temp_year = current_year;
	let temp_month = current_month + 1;
	if (temp_month >= 12) {
		temp_year = temp_year + 1;
		temp_month = 0;
	}
	
	let preCalender = new Date(temp_year, temp_month, 1);
	
	setCurrentCalender(preCalender.getFullYear(),
					   preCalender.getMonth(),
					   preCalender.getDate(),
					   preCalender.getDay());
	
	setCurrentYearAndMonthSelectUI();
	removeCalenderTr();
	addCalenderTr();
	ajax_getCurrentMonthPlans();
	
}

function removeCalenderTr() {
	console.log('removeCalenderTr() CALLED!!');
	
	$('#table_calender tbody tr').remove();
	
}

function setMonthBySelectChanged() {
	console.log('removeCalenderTr() CALLED!!');
	
	let temp_year = $('select[name="p_year"]').val();
	let temp_month = $('select[name="p_month"]').val() - 1;
	
	let preCalender = new Date(temp_year, temp_month, 1);
	
	setCurrentCalender(preCalender.getFullYear(),
					   preCalender.getMonth(),
					   preCalender.getDate(),
					   preCalender.getDay());
	
	removeCalenderTr();
	addCalenderTr();
	ajax_getCurrentMonthPlans();
}

function showWritePlanView(year, month, date) {
	console.log('showWritePlanView() CALLED!!');
	
	$('#calender_write select[name="wp_year"]').val(year).prop('selected', true);
	$('#calender_write select[name="wp_month"]').val(month).prop('selected', true);
	
	setSelectDateOptions(year, month, 'wp_date');
	$('#calender_write select[name="wp_date"]').val(date).prop('selected', true);
	
	$('#calender_write').css('display', 'block');
	
}

function setSelectDateOptions(year, month, select_name) {
	console.log('setSelectDateOptions() CALLED!!');
	
	/* DATE */
	let last = new Date(year, month, 0);
	
	/* UI */
	$('select[name="' + select_name + '"]').children().remove();
	for (let i = 1; i <= last.getDate(); i++) {
		$('select[name="' + select_name + '"]').append('<option value="' + i + '">' + i + '</option>');
	}
}

function hideWritePlanView() {
	console.log('hideWritePlanView() CALLED!!');
	
	$('#calender_write input[name="or_title"]').val('');
	$('#calender_write input[name="or_body"]').val('');
	$('#calender_write input[name="or_file"]').val('');
	
	$('#calender_write').css('display', 'none');
	
}

function ajax_writeOrganize(year, month, date, title, body, file) {
	console.log('ajax_writeOrganize() CALLED!!');
	
	let formData = new FormData();
	formData.append('or_year', year);
	formData.append('or_month', month);
	formData.append('or_date', date);
	formData.append('or_title', title);
	formData.append('or_body', body);
	formData.append('file', file);
	
	$.ajax({
		url: '/organizer/writeOrganize', 
		method: 'POST',
		processData: false,
		contentType: false,
		data: formData,
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_writeOrganize()');
			
			if (data == '' || data == null || data.result <= 0)
				alert('일정 등록에 문제가 발생 했습니다.');
			else
				alert('일정이 정상 등록 되었습니다.');
			
			removeCalenderTr();
			addCalenderTr();
			
			ajax_getCurrentMonthPlans();
			
		},
		error: function(data) {
			console.log('AJAX ERROR - ajax_writeOrganize()');
			
			alert('일정 등록에 문제가 발생 했습니다.');
			
		},
		complete: function(data) {
			console.log('AJAX COMPLETE - ajax_writeOrganize()');
			
			hideWritePlanView();
			
		}
		
	});
	
}

function ajax_getCurrentMonthPlans() {
	console.log('ajax_getCurrentMonthPlans() CALLED!!');
	
	let msgVo = {
		year		: current_year,
		month		: (current_month + 1)
	};
	$.ajax({
		url: '/organizer/getPlans',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_getCurrentMonthPlans()');
			
			let organizerVos = data.organizerVos;
			for (let i = 0; i < organizerVos.length; i++) {
				let appendTag = '<li>';
				appendTag += '<a href="#none" data-or_no="' + organizerVos[i].or_no + '">' + organizerVos[i].or_title + '</a>';
				appendTag += '</li>';
				
				$('#date_' + organizerVos[i].or_date + ' ul.plan').append(appendTag);
				
			}
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_getCurrentMonthPlans()');
			
		}
	});
	
}

function ajax_getPlan(or_no) {
	console.log('ajax_getPlan() CALLED!!');
	
	let msgVo = {
			'or_no'	: or_no
	};
	$.ajax({
		url: '/organizer/getPlan', 
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_getPlan');
			
			showDetailPlanView(data.organizerVo);
			
		},
		error: function(data) {
			console.log('AJAX ERROR - ajax_getPlan');
			
		}
	});
	
}

function showDetailPlanView(organizerVo) {
	console.log('showDetailPlanView() CALLED!!');
	
	if (organizerVo.or_ori_owner_id != organizerVo.m_id) {
		$('#calender_detail select[name="dp_year"]').attr('disabled', true);
		$('#calender_detail select[name="dp_month"]').attr('disabled', true);
		$('#calender_detail select[name="dp_date"]').attr('disabled', true);
		$('#calender_detail input[name="or_title"]').attr('disabled', true);
		$('#calender_detail input[name="or_body"]').attr('disabled', true);
		$('#calender_detail input[name="or_file"]').css('display', 'none');
		$('#calender_detail input[value="modify"]').css('display', 'none');
		$('#calender_detail input[value="delete"]').css('display', 'none');
		
	} else {
		$('#calender_detail select[name="dp_year"]').attr('disabled', false);
		$('#calender_detail select[name="dp_month"]').attr('disabled', false);
		$('#calender_detail select[name="dp_date"]').attr('disabled', false);
		$('#calender_detail input[name="or_title"]').attr('disabled', false);
		$('#calender_detail input[name="or_body"]').attr('disabled', false);
		$('#calender_detail input[name="or_file"]').css('display', 'inline-block');
		$('#calender_detail input[value="modify"]').css('display', 'inline-block');
		$('#calender_detail input[value="delete"]').css('display', 'inline-block');
	}
	
	$('#calender_detail select[name="dp_year"]').val(organizerVo.or_year).prop('selected', true);
	$('#calender_detail select[name="dp_month"]').val(organizerVo.or_month).prop('selected', true);
	
	setSelectDateOptions(organizerVo.or_year, organizerVo.or_month, 'dp_date');
	$('#calender_detail select[name="dp_date"]').val(organizerVo.or_date).prop('selected', true);
	
	$('#calender_detail input[name="or_no"]').val(organizerVo.or_no);
	
	$('#calender_detail input[name="or_title"]').val(organizerVo.or_title);
	$('#calender_detail input[name="or_body"]').val(organizerVo.or_body);
	
	let uploadImgURI = '/planUploadImg/' + organizerVo.or_ori_owner_id + '/' + organizerVo.or_img_name;
	$('#calender_detail img.plan_img').attr('src', uploadImgURI);
	
	/* SET DATA */
	$('#calender_detail input').data('or_no', organizerVo.or_no);
	$('#calender_detail').data('organizerVo', organizerVo);
	
	ajax_get_comments(organizerVo.or_ori_no);
	
	$('#calender_detail').css('display', 'block');
	
}

function hideDetailPlanView() {
	console.log('hideDetailPlanView() CALLED!!');
	
	$('#calender_detail input[name="or_title"]').val('');
	$('#calender_detail input[name="or_body"]').val('');
	$('#calender_detail input[name="or_file"]').val('');
	
	$('#calender_detail').css('display', 'none');
	
}

function ajax_removePlan(no) {
	console.log('ajax_removePlan() CALLED!!');
	
	let msgVo = {
		or_no	: no
	};
	$.ajax({
		url: '/organizer/removePlan',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_removePlan()');
			
			if (data.result > 0) {
				alert('일정이 정삭적으로 삭제 되었습니다.');
				
				hideDetailPlanView();
				
				removeCalenderTr();
				addCalenderTr();
				ajax_getCurrentMonthPlans();
				
			} else {
				alert('일정 삭제에 문제가 발생했습니다. 다시 시도해 주세요.');
				
			}
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_removePlan()');
			
		}
	});
	
}

function ajax_modifyOrganize(no, year, month, date, title, body, file) {
	console.log('ajax_modifyOrganize() CALLED!!');
	
	let formData = new FormData();
	formData.append('or_no', no);
	formData.append('or_year', year);
	formData.append('or_month', month);
	formData.append('or_date', date);
	formData.append('or_title', title);
	formData.append('or_body', body);
	
	if (file != undefined) {
		console.log('file is not undefined');
		formData.append('file', file);
		
	} else {
		console.log('file is undefined');
		
	}
	
	$.ajax({
		url: '/organizer/modifyPlan', 
		method: 'POST',
		processData: false,
		contentType: false,
		data: formData,
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_modifyOrganize()');
			
			if (data == '' || data == null || data.result <= 0)
				alert('일정 수정에 문제가 발생 했습니다.');
			else
				alert('일정이 정상 수정 되었습니다.');
			
			removeCalenderTr();
			addCalenderTr();
			ajax_getCurrentMonthPlans();
			
		},
		error: function(data) {
			console.log('AJAX ERROR - ajax_modifyOrganize()');
			
			alert('일정 수정에 문제가 발생 했습니다.');
			
		},
		complete: function(data) {
			console.log('AJAX COMPLETE - ajax_modifyOrganize()');
			
			hideDetailPlanView();
			
		}
		
	});
	
}

function ajax_search_friend(word) {
	console.log('ajax_search_friend() CALLED!!');
	
	let msgVo = {
		'friend_name'	: word
	};
	$.ajax({
		url: '/organizer/search_friend',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_search_friend()');
			
			let memberVos = data.memberVos;

			$('#calender_detail li.share_reply div:nth-child(3) ul').children().remove();
			for (let i = 0; i < memberVos.length; i++) {
				
				let appendTag =  "<li>";
					appendTag += "<a href='#none' data-m_no='" + memberVos[i].m_no + "'>" + memberVos[i].m_id + "</a>";
					appendTag += "</li>";
				
					$('#calender_detail li.share_reply div:nth-child(3) ul').append(appendTag);
				
			}
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_search_friend()');
			
		}
	});
	
}

function ajax_share_plan(or_no, m_no, m_id) {
	console.log('ajax_share_plan() called!!');
	
	let msgVo = {
		'or_no'	: or_no, 
		'm_no'	: m_no, 
		'm_id'	: m_id
	};
	$.ajax({
		url: '/organizer/share_plan',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_share_plan()');
			
			switch(data.result) {
			case 1:					// SERVER DEFINE  --->  ALREADY_SHARED_PLAN = 1
				alert('이미 공유된 일정 입니다.');
				break;
			
			case 2:					// SERVER DEFINE  --->  SHARE_PLAN_SUCCESS = 2
				alert(m_id + '님께 일정을 공유 했습니다.');
				break;
			
			case 3:					// SERVER DEFINE  --->  SHARE_PLAN_FAIL = 3
				alert('일정 공유에 실패 했습니다.');
				break;
			
			}
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_share_plan()');
			
		}
	});
	
}

function ajax_regist_comment(or_ori_no, comment) {
	console.log('ajax_regist_comment() CALLED!!');
	
	let msgVo = {
		'or_ori_no'	: or_ori_no, 
		'c_txt'		: comment
	};
	$.ajax({
		url: '/comment/regist_comment',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_regist_comment()');
			
			alert('댓글이 정상 등록 되었습니다.');
			
			listUpComments(data.commentVos);
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_regist_comment()');
			
			alert('댓글 등록이 실패 했습니다.');
			
		},
		complete: function(data) {
			console.log('AJAX COMPLETE - ajax_regist_comment()');
			
			$('#calender_detail input[name="comment"]').val('');
			
		}
	});
	
}

function listUpComments(commentVos) {
	console.log('listUpComments() CALLED!!');
	
	$('#calender_detail li.share_reply div:nth-child(6) ul li').remove();
	
	for (let i = 0; i < commentVos.length; i++) {
		
		let appendTag = '';
		appendTag += '<li>';
		appendTag += commentVos[i].c_txt;
		appendTag += '</li>';
		
		$('#calender_detail li.share_reply div:nth-child(6) ul').append(appendTag);
		
	}
	
}

function ajax_get_comments(or_ori_no) {
	console.log('ajax_get_comments() CALLED!!');
	
	let msgVo = {
		'or_ori_no'	: or_ori_no
	};
	$.ajax({
		url: '/comment/get_comments',
		type: 'POST', 
		data: JSON.stringify(msgVo),
		contentType: 'application/json; charset=utf-8;',
		dataType: 'json', 
		success: function(data) {
			console.log('AJAX SUCCESS - ajax_get_comments()');
			
			listUpComments(data.commentVos);
			
		},
		error: function(data) {
			console.log('AJAX FAIL - ajax_get_comments()');
			
		}
		
	});
	
}

</script>