<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="~{/include/title.html::title}"></title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/header_nav_footer.css}">
<link rel="stylesheet" th:href="@{/css/create_account_form.css}">

<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/member_modify_js.html::js}" type="text/javascript"></script>

</head>
<body>
	
	<header th:replace="~{/include/header_nav_footer.html::header}">
	</header>
	
	<nav th:replace="~{/include/header_nav_footer.html::nav}">
	</nav>
	
	<section>
		<div id="section_wrap">
			<div class="word">
				사용자 정보변경
			</div>
			<div class="create_account_form">
				<form th:action="@{/member/member_modify_confirm}" name="member_modify_form" method="post">
				
					<input type="hidden"	name="m_no"		th:if="${session.logined_memberVo != null}" th:value="${session.logined_memberVo.m_no}">
					
					<input type="text" 		name="m_id" 	th:if="${session.logined_memberVo != null}" th:value="${session.logined_memberVo.m_id}"	readonly="readonly" disabled="disabled"><br>
					<input type="password" 	name="m_pw" 	value="******"								readonly="readonly" disabled="disabled"><br>
					<input type="email" 	name="m_mail" 	th:if="${session.logined_memberVo != null}" th:value="${session.logined_memberVo.m_mail}" placeholder="INPUT MAIL"><br>
					<input type="text" 		name="m_phone" 	th:if="${session.logined_memberVo != null}" th:value="${session.logined_memberVo.m_phone}"placeholder="INPUT PHONE"><br>
					<input type="button" 	value="변경확인" onclick="memberModifyForm();">&nbsp;&nbsp;
					<input type="reset" 	value="reset">
				</form>
			</div>
			
			<div class="delete_account">
				<a th:href="@{#none}">계정 삭제</a>
			</div>
			
		</div>
	</section>
	
	<footer th:replace="~{/include/header_nav_footer.html::footer}">
	</footer>
	
</body>
</html>