section {
	width: 100%;
	padding: 30px 0;
	}

section #section_wrap {
	width: 1200px;
	margin: 0 auto;
	}


/* WORD START */
section #section_wrap .word {
	text-align: center;
	font-weight: bolder;
	}
/* WORD END */

/* BOARD LIST START */
section #section_wrap .board_list {
	width: 1200px;
	margin: 0 auto;
	}

section #section_wrap .board_list table {
	width: 100%;
	border-collapse: collapse;
	}

section #section_wrap .board_list table tr {
	background-color: #fff;
	}

section #section_wrap .board_list table tr:nth-child(2n+1) {
	background-color: #f2f2f2;
	}

section #section_wrap .board_list table tr th {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #e3fffc;
	}

section #section_wrap .board_list table tr td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	}

section #section_wrap .board_list table tr td:nth-child(1) {
	width: 70px;
	}

section #section_wrap .board_list table tr td:nth-child(2) {
	width: 100px;
	}
	
section #section_wrap .board_list table tr td:nth-child(3) {
	text-align: left;
	}

section #section_wrap .board_list table tr td:nth-child(4) {
	width: 200px;
	}

section #section_wrap .board_list table tr td:nth-child(5) {
	width: 70px;
	}

/* BOARD LIST END */

/* page UI START */
section #section_wrap > div.page_wrap {
	width: 98%;
	margin: 0 auto 50px;
	text-align: center;
	}
	
section #section_wrap > div.page_wrap > div.page_number {
	display: inline-block;
	}

section #section_wrap > div.page_wrap > div.page_number a {
	width: 46px;
	height: 46px;
	line-height: 46px;
	text-decoration: none;
	display: inline-block;
	margin: 0 3px;
	color: #3c3c3c;
	background-color: #fff;
	border: 1px solid #ccc;
	}

section #section_wrap > div.page_wrap > div.page_number a:hover {
	background-color: #e3e6e8;
	}

section #section_wrap > div.page_wrap > div.page_number a.selectedPageNum {
	color: #fff;
	font-weight: bolder;
	border: 1px solid #232f3d;
	background-color: #232f3d;
	}

section #section_wrap > div.page_wrap div.page_goto {
	display: inline-block;
	margin: 0 0 0 2px;
	padding: 9px 6px 5px 15px;
	border-radius: 7px;
	background-color: rgba(200, 216, 235, .3);
	}

section #section_wrap > div.page_wrap div.page_goto > input[name='page_target_num'] {
	width: 60px; height: 25px;
	margin: 3px 0 4px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	font-weight: bolder;
	}

section #section_wrap > div.page_wrap div.page_goto > a {
	padding: 3px 10px 8px;
	margin: 0 11px 0 5px;
	border: 1px solid #424f60;
	background-color: #424f60;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
	}

section #section_wrap > div.page_wrap div.page_goto > a:hover {
	border: 1px solid #232f3d;
	background-color: #232f3d;
	}
/* page UI END */

/* BOARD WRITE START */
section #section_wrap .board_write {
	width: 1200px;
	margin: 3px auto;
	text-align: right;
	}

section #section_wrap .board_write a {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 5px;
	}
/* BOARD WRITE END */