section {
	width: 100%;
	padding: 30px 0;
}

section #section_wrap {
	width: 1400px;
	margin: 0 auto;
}


/* WORD START */
section #section_wrap .word {
	text-align: center;
	font-weight: bolder;
	}
/* WORD END */

/* BOARD WRITE FORM START */
section #section_wrap .board_modify_form {
	width: 1400px;
	margin: 50px auto;
	text-align: center;
}

section #section_wrap .board_modify_form input[type='text'] {
	width: 496px;
	padding: 5px;
	}

section #section_wrap .board_modify_form input[type='button'],
section #section_wrap .board_modify_form input[type='reset'] {
	width: 120px;
	padding: 5px;
	}

/* BOARD WRITE FORM END */

/* BOARD LIST START */
section #section_wrap .board_list {
	width: 1400px;
	margin: 3px auto;
	text-align: right;
	}

section #section_wrap .board_list a {
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 5px;
	}
/* BOARD LIST END */